.additionally__title {
  max-width: 85%;
  margin: 20px 0 40px 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin: 63px 0 62px 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 66px 0 61px 0;
  }
}

.additionally__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  color: $color-dark-grey;

  grid-row-gap: 24px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-column-gap: 60px;
    grid-row-gap: 42px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;

    grid-column-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additionally__label {
  position: relative;

  padding: 5px 0 5px 46px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 5px 0 5px 59px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.additionally__input + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid $color-special-border-grey;

  @media (min-width: $tablet-width) {
    top: 0;

    width: 40px;
    height: 40px;
  }
}

.additionally__input:hover + label::before {
  border: 1px solid $color-radio-hover-grey;
}

.additionally__input:checked + label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 7px;

  width: 18px;
  height: 14px;

  background-image: url("../img/svg/check-mark.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 13px;
    left: 11px;
  }
}

.additionally__input:disabled + label {
  opacity: 0.3;
}
