.additionally {
  position: relative;
}

.additionally__title {
  width: 141px;
  margin: 23px 0 34px 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  background-color: $color-white;
  box-shadow: 0 0 0 20px $color-white;

  @media (min-width: $tablet-width) {
    width: 211px;
    margin: 65px 0 57px 0;

    font-size: 36px;
    line-height: 36px;

    box-shadow: 0 0 0 40px $color-white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 10%;
    z-index: -1;

    width: 90%;

    border-bottom: 2px solid $color-green;

    @media (min-width: $tablet-width) {
      top: 22px;
      left: 0;

      width: 100%;
    }
  }
}

.additionally__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  color: $color-dark-grey;

  grid-row-gap: 28px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;

    grid-column-gap: 104px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additionally__label {
  position: relative;

  padding: 5px 0 5px 46px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 5px 0 5px 59px;

    font-size: 20px;
    line-height: 30px;
  }
}

.additionally__input + label::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid $color-special-border-grey;

  @media (min-width: $tablet-width) {
    bottom: 0;
    width: 40px;
    height: 40px;
  }
}

.additionally__input:checked + label::after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 7px;

  width: 18px;
  height: 14px;

  background-image: url("../img/svg/check-mark.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    bottom: 13px;
    left: 11px;
  }
}

.additionally__input:disabled + label {
  opacity: 0.3;
}
