.all__header {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    border-top: 1px solid $color-border-grey;
    top: 0;
    left: -20px;
  }
}

.all__svg {
  margin: 25px auto 23px auto;
}

.all__invitation {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-special-black;
  margin: 0 0 8px 0;
  text-align: center;
}

.all__description {
  font-family: $font-family--arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $color-dark-grey;
  margin: 0 0 21px 0;
}

.all__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  background-color: $color-background-grey;
  text-transform: uppercase;
  color: $color-dark-grey;
  width: 280px;
  padding: 11px;
}
