.all {
  position: relative;

  padding: 0 0 24px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -7%;

    width: 114%;

    border-top: 1px solid $color-border-grey;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }

  @media (min-width: $tablet-width) {
    height: 430px;
    margin: 108px 0 0 0;
    padding: 52px 37px 37px 37px;

    border: 1px solid $color-border-grey;
  }

  @media (min-width: $desktop-width) {
    margin: 119px 0 0 0;
    padding: 50px 39px 39px 39px;
  }
}

.all__header {
  position: relative;

  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;

    border-top: 1px solid $color-border-grey;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }
}

.all__img-mobile {
  margin: 25px auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.all__img-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto 50px auto;
  }
}

.all__invitation {
  margin: 0 auto 8px auto;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-special-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin: 0 auto 24px auto;

    font-size: 20px;
    line-height: 22px;
  }
}

.all__description {
  margin: 0 auto 21px auto;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-family--arial;
  text-align: center;
  color: $color-dark-grey;

  @media (min-width: $tablet-width) {
    width: 167px;
    margin: 0 auto 87px auto;

    font-size: 16px;
    line-height: 18px;
  }
}

.all__link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 11px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-dark-grey;
  text-transform: uppercase;

  background-color: $color-background-grey;

  &:hover {
    background-color: $color-border-grey;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    padding: 10px;

    font-size: 16px;
    line-height: 20px;
  }
}
