.all {
  @media (min-width: $tablet-width) {
    height: 430px;
    margin: 70px 0 0 0;
    padding: 40px;

    border: 1px solid $color-border-grey;
  }

  @media (min-width: $desktop-width) {
    margin: 95px 0 0 0;
  }
}

.all__header {
  position: relative;

  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;

    border-top: 1px solid $color-border-grey;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }
}

.all__svg-mobile {
  margin: 25px auto 23px auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.all__svg-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto 49px auto;
  }
}

.all__invitation {
  margin: 0 auto 8px auto;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-special-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin: 0 auto 23px auto;

    font-size: 20px;
    line-height: 22px;
  }
}

.all__description {
  margin: 0 auto 21px auto;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-family--arial;
  text-align: center;
  color: $color-dark-grey;

  @media (min-width: $tablet-width) {
    width: 167px;
    margin: 0 auto 97px auto;

    font-size: 16px;
    line-height: 18px;
  }
}

.all__link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 11px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark-grey;
  text-transform: uppercase;

  background-color: $color-background-grey;

  @media (min-width: $tablet-width) {
    padding: 10px;

    font-size: 16px;
    line-height: 20px;
  }
}
