.collaboration__wrapper {
  display: flex;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 28px 20px;
}

.collaboration__background-grey {
  display: flex;
  align-items: center;
  padding: 28px 20px;

  background-color: $color-background-grey;
}

.collaboration__slogan {
  width: 140px;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.collaboration__address {
  width: 140px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-family--arial;
  color: $color-dark-grey;
}

.collaboration__img {
  margin: 0 auto;
}
