.collaboration {
  position: relative;

  width: 100%;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 95px 0 104px 0;
  }
}

.collaboration__wrapper {
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    padding: 0 7.64%;
  }
}

.collaboration__block {
  display: flex;
  justify-content: space-between;
  padding: 26px 6.25% 27px 6.25%;

  @media (min-width: $tablet-width) {
    padding: 66px 9.5% 60px 9.5%;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
    padding: 65px 84px 62px 76px;

    background-color: $color-white;
  }
}

.collaboration--background-grey {
  z-index: -1;

  width: 100%;

  background-color: $color-background-grey;
}

.collaboration__slogan {
  width: 45%;
  margin: 1px 0 0 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 30%;

    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
  }
}

.collaboration__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 3px 0 0 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: $font-family--arial;
  color: $color-dark-grey;

  @media (min-width: $tablet-width) {
    width: 30%;
    margin-top: -2px;

    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 39%;
    margin-top: 0;

    text-align: left;
  }
}

.collaboration__map {
  position: relative;

  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }

  iframe {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
  }
}
