.collaboration {
  position: relative;

  width: 100%;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 95px 0 104px 0;
  }
}

.collaboration__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.collaboration__block {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;

  @media (min-width: $tablet-width) {
    padding: 66px 71px 51px 71px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;

    background-color: $color-white;
  }
}

.collaboration__background-grey {
  z-index: -1;

  width: 100%;

  background-color: $color-background-grey;
}

.collaboration__slogan {
  width: 140px;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 171px;

    font-size: 20px;
    line-height: 25px;
  }
}

.collaboration__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 140px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-family--arial;
  color: $color-dark-grey;

  @media (min-width: $tablet-width) {
    width: 159px;
    height: 80px;

    font-size: 16px;
    text-align: right;
  }
}

.collaboration__map iframe {
  min-width: 100%;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
  }
}
