.comment__title {
  position: relative;

  margin: 23px 0 38px 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: -20px;

    width: 160px;

    border-bottom: 2px solid $color-green;
  }
}

.comment__textarea {
  width: 280px;
  height: 150px;
  padding: 9px 13px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid $color-input-grey;

  &::placeholder {
    color: $color-dark-grey;
  }
}
