.concept__title {
  margin: 27px 0 38px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.concept__list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.concept__item {
  margin: 0 0 26px 80px;
  padding: 2px 0 0 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family--arial;
  color: $color-dark-grey;

  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 60px;
    height: 60px;
  }
}

.concept__item--leaf::after {
  top: 0;

  background-image: url("../img/svg/leaf.svg");
}

.concept__item--glass::after {
  top: 80px;

  background-image: url("../img/svg/glass.svg");
}

.concept__item--fork::after {
  top: 160px;

  background-image: url("../img/svg/fork.svg");
}

.concept__item--alarm::after {
  top: 240px;

  background-image: url("../img/svg/alarm.svg");
}

.concept__description {
  margin: 0;
  padding: 0;
}
