.concept {
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-light-grey;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.concept__title {
  width: 225px;
  margin: 27px 0 38px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    width: 375px;
    margin: 45px 0 72px 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 71px 0 72px 0;
  }
}

.concept__list {
  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: number 0;

  @media (min-width: $tablet-width) {
    display: grid;
    margin: 0 25px 0 0;

    grid-column-gap: 85px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    margin: 0;

    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.concept__item {
  position: relative;

  min-height: 60px;
  margin: 0 0 20px 80px;
  padding: 2px 0 0 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family--arial;
  color: $color-dark-grey;

  counter-increment: number;

  @media (min-width: $tablet-width) {
    width: 265px;
    margin: 0;
    padding: 111px 0 44px 0;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 111px 0 0 0;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: counter(number);
      position: absolute;
      top: -40px;
      right: 20px;
      z-index: -1;

      font-size: 280px;
      line-height: 280px;
      font-family: $font-family--oswald;
      color: $color-background-grey;

      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -80px;

    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      left: 0;

      width: 80px;
      height: 80px;
    }
  }
}

.concept__item--leaf {
  &::after {
    background-image: url("../img/svg/leaf-mobile.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/svg/leaf-tablet.svg");
    }
  }
}

.concept__item--glass {
  &::after {
    background-image: url("../img/svg/glass-mobile.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/svg/glass-tablet.svg");
    }
  }
}

.concept__item--fork {
  &::after {
    background-image: url("../img/svg/fork-mobile.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/svg/fork-tablet.svg");
    }
  }
}

.concept__item--alarm {
  &::after {
    background-image: url("../img/svg/alarm-mobile.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/svg/alarm-tablet.svg");
    }
  }
}

.concept__description {
  width: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 265px;
    margin: 0 0 60px 0;
  }
}
