.concept {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-light-grey;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.concept__title {
  width: 225px;
  margin: 27px 0 38px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    width: 375px;
    margin: 45px 0 72px 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 71px 0 72px 0;
  }
}

.concept__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    margin: 0 25px 0 0;

    grid-column-gap: 153px;
    grid-row-gap: 37px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    margin: 0;

    grid-column-gap: 53px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.concept__item {
  position: relative;

  margin: 0 0 26px 80px;
  padding: 2px 0 0 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family--arial;
  color: $color-dark-grey;

  @media (min-width: $tablet-width) {
    width: 265px;
    margin: 0;
    padding: 111px 0 57px 0;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 111px 0 0 0;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 0;
      z-index: -1;

      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -80px;

    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      left: 0;

      width: 80px;
      height: 80px;
    }
  }
}

.concept__item--leaf {
  &::before {
    right: 67px;

    width: 70px;
    height: 228px;

    background-image: url("../img/svg/number-one.svg");
  }

  &::after {
    background-image: url("../img/svg/leaf.svg");
  }
}

.concept__item--glass {
  &::before {
    right: 29px;

    width: 112px;
    height: 228px;

    background-image: url("../img/svg/number-two.svg");
  }

  &::after {
    background-image: url("../img/svg/glass.svg");
  }
}

.concept__item--fork {
  &::before {
    right: 29px;

    width: 111px;
    height: 231px;

    background-image: url("../img/svg/number-three.svg");
  }

  &::after {
    background-image: url("../img/svg/fork.svg");
  }
}

.concept__item--alarm {
  &::before {
    right: 19px;

    width: 120px;
    height: 228px;

    background-image: url("../img/svg/number-four.svg");
  }

  &::after {
    background-image: url("../img/svg/alarm.svg");
  }
}

.concept__description {
  width: 200px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 265px;
    margin: 0 0 60px 0;
  }
}
