.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;

  &:active {
    opacity: 0.3;
  }
}

.copyright__name {
  font-family: $font-family--arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-dark-grey;
}
