.green-link {
  display: flex;
  justify-content: center;

  font-style: normal;
  font-weight: 400;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;

  background-color: $color-green;
  border: 0;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $color-green-hover;
  }

  &:active {
    color: $color-white-opacity;
  }
}
