.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 3.9%;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 7.64%;
  }
}

.header__logo-active {
  pointer-events: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin: 12px auto 16px auto;
  padding: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 3px 0 0 0;
  }
}
