.intent__list {
  position: relative;

  display: grid;
  margin: 0;
  padding: 29px 0 25px 0;

  list-style: none;
  color: $color-dark-grey;

  grid-row-gap: 24px;

  @media (min-width: $tablet-width) {
    grid-row-gap: 23px;
    padding: 30px 28px;

    border: 1px solid $color-special-light-grey;
  }

  @media (min-width: $desktop-width) {
    grid-row-gap: 22px;
    padding: 30px 28px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -7%;

    width: 114%;

    border-bottom: 1px solid $color-special-light-grey;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }
}

.intent__label {
  position: relative;

  padding: 5px 0 5px 46px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 5px 0 5px 60px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 15px;
  }
}

.intent__input + label::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 1px;

  width: 30px;
  height: 30px;

  border: 1px solid $color-special-border-grey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    bottom: 0;

    width: 40px;
    height: 40px;
  }
}

.intent__input:disabled + label {
  opacity: 0.3;
}

.intent__input:hover + label::before {
  border: 1px solid $color-radio-hover-grey;
}

.intent__input:checked + label::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 8px;

  width: 1px;
  height: 1px;

  border: 8px solid $color-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 11px;

    border: 10px solid $color-green;
  }
}
