.intro {
  position: relative;

  &::after {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;

      display: flex;
      width: 50%;
      height: 89.5%;
      margin: 0;

      background: url("../img/content/background-cat-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: inset 0 0 0 694px $color-green-opacity;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/content/background-cat-desktop@2x.png");
      }
    }
  }
}
