.main-theme {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 35px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    padding: 0;
  }
}

.main-theme__title {
  z-index: 1;

  width: 249px;
  margin: 0 0 25px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $color-white;

  @media (min-width: $tablet-width) {
    width: 414px;
    margin: 40px 0 40px 85px;
    padding: 0;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $color-black;
  }

  @media (min-width: $desktop-width) {
    margin: 57px 0 40px 190px;
  }
}

.main-theme__description {
  z-index: 1;

  width: 198px;
  margin: 0 0 302px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 167px;
    left: 7px;

    width: 280px;
    height: 270px;

    background: url("../img/content/cat-food.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      top: 236px;
      left: 37px;
      z-index: -1;

      width: 709px;
      height: 609px;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      left: 50%;

      width: 552px;
      height: 499px;
      margin-left: -160px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 283px;
    margin: 0 0 49px 85px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $color-black;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 190px;
  }
}

.main-theme__link {
  z-index: 1;

  width: 280px;
  padding: 7px;

  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 244px;
    margin: 0 0 526px 83px;
    padding: 14px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 267px 190px;
  }
}
