.main-nav {
  position: relative;

  display: flex;
  width: 100%;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -45px;
  right: 22px;

  width: 20px;
  height: 20px;

  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle--close {
  background-image: url("../img/svg/close-button.svg");
}

.main-nav__toggle--open {
  background-image: url("../img/svg/open-button.svg");
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 0 0;
  }
}

.main-nav__list--open {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__list--close {
  display: none;
}

.main-nav__item {
  border-top: 1px solid $color-light-grey;

  @media (min-width: $tablet-width) {
    margin: 0 5px 0 0;

    border-top: none;
  }

  &:last-child {
    border-bottom: 1px solid $color-light-grey;

    @media (min-width: $tablet-width) {
      margin: 0;
      border-bottom: none;
    }
  }
}

.main-nav__link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 21px 21px 24px 20px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: max-content;
    padding: 10px 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 6px 0;
  }
}

.main-nav__link--active {
  pointer-events: none;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-green;
  }
}

.main-nav__link--active-index {
  pointer-events: none;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-green;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $color-white;
  }
}

.main-nav__link--index {
  @media (min-width: $desktop-width) {
    color: $color-white;
  }
}
