.main-theme {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 35px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 320px;
    height: 302px;
    margin-left: -160px;

    background: url("../img/content/background-cat.png");
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;

    width: 320px;
    height: 302px;
    margin-left: -160px;

    background: $color-green-opacity;
  }
}

.main-theme__title {
  z-index: 1;

  width: 249px;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $color-white;
}

.main-theme__description {
  z-index: 1;

  margin: 25px 0 29px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
}

.main-theme__img {
  z-index: 1;

  margin: 0 auto;
}
