.other__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  margin: 25px 0 36px 0;
  padding: 0;

  &::after {
    content: "";
    position: absolute;
    width: 53px;
    border-bottom: 2px solid $color-green;
    right: -20px;
    top: 15px;
  }
}

.other__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.other__item {
  position: relative;
  padding: 13px 0 19px 0;

  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid $color-special-border-grey;
    width: 280px;
    top: 0;
    left: 0;
  }
}

.other__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $color-special-black;
  margin: 0 0 13px 0;
  padding: 0;
}

.other__info {
  display: flex;
  justify-content: space-between;
  font-family: $font-family--arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-dark-grey;
}

.other__action-block {
  background-color: $color-green;
  background-image: url("../img/content/present-background.png");
  background-repeat: no-repeat;
  width: 280px;
  height: 289px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 61px 43px 58px;
  margin: 39px 0 35px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid $color-special-border-grey;
    width: 280px;
    top: -39px;
    left: 0;
  }
}

.other__action-description {
  font-family: $font-family--arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-white;
}
