.owner-contacts__title {
  position: relative;

  margin: 26px 0 35px 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  &::after {
    content: "";
    position: absolute;
    right: -20px;

    width: 100px;

    border-bottom: 2px solid $color-green;
  }
}

.owner-contacts__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  color: $color-dark-grey;

  grid-row-gap: 14px;
}

.owner-contacts__item {
  display: grid;
}

.owner-contacts__label {
  position: relative;

  display: grid;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  grid-column-gap: 15px;
  grid-template-columns: max-content 1fr;

  svg {
    position: absolute;
    top: center;
    right: 15px;
  }
}

.owner-contacts__input {
  padding: 13px 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid $color-input-grey;

  &::placeholder {
    color: $color-dark-grey;
  }
}

.form-products-search svg {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  opacity: 0.3;

  fill: var(--basic-white);
}

.products-search:hover + svg {
  opacity: 1;
}

.products-search:focus + svg {
  opacity: 1;

  fill: var(--basic-red);
}
