.owner-contacts {
  position: relative;
}

.owner-contacts__title {
  width: 187px;
  margin: 26px 0 35px 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  background-color: $color-white;
  box-shadow: 0 0 0 20px $color-white;

  @media (min-width: $tablet-width) {
    width: 512px;
    margin: 71px 0 76px 0;

    font-size: 36px;
    line-height: 36px;

    box-shadow: 0 0 0 40px $color-white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    z-index: -1;

    width: 100%;

    border-bottom: 2px solid $color-green;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }
}

.owner-contacts__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  color: $color-dark-grey;

  grid-row-gap: 14px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;

    grid-column-gap: 78px;
    grid-template-columns: 1fr 1fr;
  }
}

.owner-contacts__item {
  display: grid;
}

.owner-contacts__label {
  position: relative;

  display: grid;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  grid-column-gap: 15px;
  grid-template-columns: max-content 1fr;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  svg {
    position: absolute;
    top: center;
    right: 15px;

    @media (min-width: $tablet-width) {
      right: 20px;
    }
  }
}

.owner-contacts__input {
  padding: 13px 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid $color-input-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: $color-dark-grey;
  }
}

.form-products-search svg {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  opacity: 0.3;

  fill: var(--basic-white);
}

.products-search:hover + svg {
  opacity: 1;
}

.products-search:focus + svg {
  opacity: 1;

  fill: var(--basic-red);
}
