.page-form__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 37px 0;
}

.page-form__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 226px;
  margin: 0 0 39px 0;
  text-transform: uppercase;
}
