.page-form__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 9%;
  }
}

.page-form__title {
  margin: 27px 0 37px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin: 35px 0 54px 0;

    font-size: 60px;
    line-height: 60px;
  }
}

.page-form__description {
  width: 226px;
  margin: 0 0 39px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 323px;
    margin: 0 0 66px 0;

    font-size: 20px;
    line-height: 30px;
  }
}
