.pet-data__list {
  position: relative;

  display: grid;
  margin: 0;
  padding: 0 0 24px 0;

  list-style: none;
  color: $color-dark-grey;

  grid-row-gap: 12px;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
    padding: 0;

    grid-row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -7%;

    width: 114%;

    border-bottom: 1px solid $color-special-light-grey;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }
}

.pet-data__label {
  display: flex;
  align-items: center;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.pet-data__input {
  display: flex;
  flex-grow: 1;
  margin: 0 0 0 15px;
  padding: 13px 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid $color-input-grey;

  &:hover {
    outline: 1px solid $color-special-border-grey;
  }

  &:focus {
    outline: 2px solid $color-dark-grey;
  }

  &:invalid:focus {
    outline: 2px solid $color-error-red;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 20px;

    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: $color-dark-grey;
  }
}
