.pet-data__list {
  position: relative;

  display: grid;
  margin: 0;
  padding: 0 0 24px 0;

  list-style: none;
  color: $color-dark-grey;

  grid-row-gap: 13px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;

    width: 320px;

    border-bottom: 1px solid $color-special-light-grey;
  }
}

.pet-data__item {
  display: grid;
}

.pet-data__label {
  display: grid;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  grid-column-gap: 15px;
  grid-template-columns: max-content 1fr;
}

.pet-data__input {
  padding: 13px 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid $color-input-grey;

  &::placeholder {
    color: $color-dark-grey;
  }
}
