.products {
  @media (min-width: $tablet-width) {
    padding: 44px 3.9% 0 3.9%;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 7.64% 0 7.64%;
  }
}

.products__title {
  margin: 27px 0 39px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin: 0 0 166px 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 166px 0;
  }
}

.products__list {
  display: grid;
  width: 100%;

  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    justify-content: space-between;

    grid-column-gap: 60px;
    grid-row-gap: 139px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1000px) {
    grid-column-gap: 70px;
    grid-row-gap: 139px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 78px;
    grid-row-gap: 144px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.products__item {
  position: relative;

  flex-direction: column;
  padding: 23px 0 22px 0;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    align-items: center;
    padding: 107px 38px 40px 38px;

    background-color: $color-border-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 107px 38px 40px 38px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -7%;

    width: 114%;

    border-top: 1px solid $color-border-grey;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }

  &:nth-child(odd) {
    img {
      @media (min-width: $tablet-width) {
        width: 161px;
        height: 172px;
      }
    }

    picture {
      padding: 0 0 4px 0;
    }

    a {
      @media (min-width: $tablet-width) {
        top: -47px;
      }

      @media (min-width: $desktop-width) {
        top: -53px;
      }
    }
  }

  &:nth-child(even) {
    img {
      @media (min-width: $tablet-width) {
        width: 168px;
        height: 200px;
      }
    }

    picture {
      padding: 0;
    }

    a {
      @media (min-width: $tablet-width) {
        top: -75px;
      }

      @media (min-width: $desktop-width) {
        top: -81px;
      }
    }
  }
}

.products__card {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    margin: 55px 0 0 0;
  }
}

.products__foto-block {
  display: flex;
  align-items: flex-end;
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.products__foto {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    left: 4px;
  }
}

.products__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;

  text-align: center;

  @media (min-width: $tablet-width) {
    align-items: center;
    width: 100%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.products__name {
  width: 76px;
  margin: 0 0 14px 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: $color-special-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 155px;
    margin: 0 0 15px 2px;

    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 15px 10px;
  }
}

.products__info-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 9px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-family--arial;
  color: $color-dark-grey;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 5px;
    padding: 0 0 2px 0;

    font-size: 16px;
    line-height: 31px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 5px;
  }
}

.products__info-string {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-special-border-grey;
  }
}

.products__parameter {
  display: flex;
  flex-direction: column;
}

.products__value {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.products__link {
  width: 100%;
  margin: 13px 0 0 0;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin: 32px 0 0 0;
  }
}
