.products {
  @media (min-width: $tablet-width) {
    padding: 44px 3.9% 0 3.9%;
  }

  @media (min-width: $desktop-width) {
    padding: 28px 7.64% 0 7.64%;
  }
}

.products__title {
  margin: 27px 0 39px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin: 0 0 38px 0;

    font-size: 60px;
    line-height: 60px;
  }
}

.products__list {
  display: grid;
  width: 100%;

  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    justify-content: space-between;

    grid-column-gap: 60px;
    grid-row-gap: 34px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 80px;
    grid-row-gap: 26px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.products__item {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 17px 0 24px 0;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    align-items: center;
    padding: 37px;

    box-shadow: inset 0 -430px 0 0 $color-border-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 39px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -7%;

    width: 114%;

    border-top: 1px solid $color-border-grey;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }
}

.products__card {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.products__foto-block {
  display: flex;
  align-items: flex-end;
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.products__foto {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;

  picture {
    padding: 0 0 2px 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 25px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 35px 0;
  }
}

.products__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;

  text-align: center;

  @media (min-width: $tablet-width) {
    align-items: center;
    width: 100%;
  }
}

.products__name {
  width: 76px;
  margin: 0 0 8px 0;
  padding: 5px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: $color-special-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 155px;
    margin: 0 0 7px 0;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.products__info-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 9px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-family--arial;
  color: $color-dark-grey;

  @media (min-width: $tablet-width) {
    padding: 0 0 2px 0;

    font-size: 16px;
    line-height: 31px;
  }
}

.products__info-string {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-special-border-grey;
  }
}

.products__parameter {
  display: flex;
  flex-direction: column;
}

.products__value {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.products__link {
  width: 100%;
  margin: 13px 0 0 0;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin: 32px 0 0 0;
  }
}
