.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  position: relative;

  margin: 0 0 20px 0;
  padding: 22px;

  background-color: $color-background-grey;
}

.programs__item--weight-loss::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 22px;

  width: 50px;
  height: 50px;

  background-image: url("../img/svg/slim-cat.svg");
}

.programs__item--muscle-mass::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 13px;

  width: 67px;
  height: 50px;

  background-image: url("../img/svg/muscular-cat.svg");
}

.programs__title {
  margin: 0 0 29px 71px;
  padding: 8px 0 0 0;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__description {
  margin: 0 0 15px 0;
  padding: 0 0 23px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family--arial;
  color: $color-dark-grey;

  border-bottom: 1px solid $color-special-light-grey;
}

.programs__link {
  display: flex;
  width: 155px;
  margin: 0;
}

.programs__span {
  padding-right: 15px;
}
