.section-form__first-block {
  display: grid;

  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    justify-content: space-between;

    grid-column-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.section-form__result {
  display: flex;
  flex-direction: column;
  margin: 34px auto 32px auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.section-form__button-result {
  width: 280px;
  padding: 8px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 282px;
    margin: 54px 0 72px 0;
    padding: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.section-form__span {
  margin: 21px auto 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: $font-family--arial;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 210px;
    margin: 0 46px 18px 46px;
    padding: 15px;

    font-size: 16px;
  }
}
