.section-form__first-block {
  display: grid;

  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    justify-content: space-between;

    grid-column-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.section-form__result {
  display: flex;
  flex-direction: column;
  margin: 41px auto 32px auto;

  @media (min-width: $tablet-width) {
    margin: 61px auto 75px auto;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    margin: 66px auto 84px auto;
  }
}

.section-form__button-result {
  width: 100%;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 284px;
    margin: 0;
    padding: 15px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.section-form__span {
  margin: 21px auto 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: $font-family--arial;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 215px;
    margin: 0 46px;
    padding: 17px;

    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 65px;
  }
}
