.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  border-top: 1px solid $color-special-light-grey;
  border-bottom: 1px solid $color-special-light-grey;
}

.social-list__svg {
  display: flex;
  padding: 18px;
}
