.social-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  border-top: 1px solid $color-special-light-grey;
  border-bottom: 1px solid $color-special-light-grey;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 110px;
    margin-left: 33px;

    border-top: none;
    border-bottom: none;
  }
}

.social-list__item {
  &:nth-child(1) svg {
    width: 23px;
    height: 16px;
    margin: 1px 4px 0 -6px;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
      margin: 0 0 4px -7px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 4px 7px -6px;
    }
  }

  &:nth-child(2) svg {
    width: 16px;
    height: 16px;
    margin: 4px 0 0 0;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
      margin: 0 0 0 7px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 4px 4px;
    }
  }

  &:nth-child(3) svg {
    width: 22px;
    height: 22px;
    margin: 0 -2px 0 0;

    @media (min-width: $tablet-width) {
      width: 32px;
      height: 32px;
      margin: 0 0 2px 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0 -1px 5px 0;
    }
  }
}

.social-list__link {
  display: flex;
  padding: 20px 16px;

  color: $color-speсial-dark-grey;

  &:hover,
  &:focus {
    color: $color-green;
  }

  &:active {
    color: $color-green;

    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
