.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 124px;
  margin: 0;
  padding: 15px 0 0 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 124px;
    height: 56px;

    border: 1px solid $color-special-border-grey;
    border-radius: 5px;
  }
}

.stats__value {
  margin: 0 0 5px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.stats__description {
  z-index: 1;

  width: 82px;
  margin: 0 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-family--arial;
  text-align: center;
  color: $color-dark-grey;

  background-color: $color-special-background-grey;
}
