// Fonts

$font-family--oswald: "Oswald", "Arial", sans-serif;
$font-family--arial: "Arial", sans-serif;

// Color

$color-white: #ffffff;
$color-white-opacity: rgba(255, 255, 255, 0.3);
$color-black: #000000;
$color-light-grey: #e6e6e6;
$color-special-light-grey: #d9d9d9;
$color-background-grey: #f2f2f2;
$color-special-background-grey: #eaeaea;
$color-special-border-grey: #cdcdcd;
$color-dark-grey: #444444;
$color-speсial-dark-grey: #666666;
$color-green-opacity: rgba(104, 183, 56, 0.85);
$color-green: #68b738;
$color-green-hover: #5eaa2f;
$color-input-grey: #e7e7e7;
$color-border-grey: #ebebeb;
$color-special-black: #222222;
$color-element-grey: #d3d3d3;
$color-radio-hover-grey: #bababa;
$color-error-red: #ff8282;

// Width

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
