$font-family--oswald: "Oswald", "Arial", sans-serif;
$font-family--arial: "Arial", sans-serif;

$color-white: #ffffff;
$color-white-opacity: rgba(255, 255, 255, 0.3);
$color-black: #000000;
$color-light-grey: #E6E6E6;
$color-speсial-light-grey: #D9D9D9;
$color-background-grey: #F2F2F2;
$color-speсial-background-grey: #EAEAEA;
$color-speсial-border-grey: #CDCDCD;
$color-dark-grey: #444444;
$color-speсial-dark-grey: #666666;
$color-green-opacity: rgba(104, 183, 56, 0.85);
$color-green: #68B738;
$color-green-hover: #5EAA2F;
